html {
    -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
}
body {
	background: radial-gradient(circle, rgb(107, 2, 2) 50%, rgb(43, 9, 9) 120%);
    font-family: "DM Sans", sans-serif;
}
.hero {   
    margin-left: 150px;
    margin-top: 150px;
}

.hero h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: wheat;
}

.hero h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: wheat;
}
@media (max-width: 768px) {
    .hero {
        flex: 1;
        min-width: calc(100% - 20px); 
        margin: 50px 0;
        margin-left: 20px;
    }
}

.getstarted{
	margin-top: 20px;
}
.hero img {
    margin-left: 500px;
    margin-bottom: 500px;

}


#plans {
    margin-top: 350px;
    padding: 40px;
    background: linear-gradient(#8B0000, #8B12);
    font-family: "DM Sans", sans-serif;
}

#plans h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: whitesmoke;
}

#plans ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

#plans li {
    flex: 1;
    min-width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ced4da; 
    border-radius: 8px;
    text-align: center;
}

#plans h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: wheat; 
    font-family: "DM Sans", sans-serif;
}

#plans p {
    color: wheat;  
    font-family: "DM Sans", sans-serif;
}


@media (max-width: 768px) {
    #plans li {
        flex: 1;
        min-width: calc(100% - 20px); 
        margin: 10px 0;
    }
}
.contact {
    padding: 40px;
    background-color: #8B12;
    font-family: "DM Sans", sans-serif;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: whitesmoke; 
}

.contact p {
    margin-bottom: 15px;
    color: burlywood; 
}

.contact-info a {
    color: #007bff; 
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

